body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #d7efaf;
}

#wrapper{
	background-color: #3cabf9;
	
}


#main_nav {
    background-color: #0072bc;
    padding: 25px;
    margin: 25px;
	line-height: 50px;
}



